/* * {
    outline: 1px solid red;
}  */

.dark-grey-color{
    background-color:#222222 ;
}

.bg-info{
    background-color: #a962d5 !important;
}

.bg-danger{
    background-color: #ff2932 !important;
}

.bg-light{
    background-color: #e9eff3 !important;
}
.move-bottom{
    bottom: 2rem;
    left: 2rem;
}

.move-stories{
    bottom: 1rem;
}

.my-shadow{
    box-shadow: -.5rem .5rem rgb(18, 194, 156);

}

.extended-bg{
    min-height: 10rem;
}