/* * {
    outline: 1px solid red;
}  */
.move-bottom{
    bottom: 2rem;
    left: 2rem;
}

.move-stories{
    bottom: 1rem;
}

.my-shadow{
    box-shadow: -.5rem .5rem rgb(18, 194, 156);

}

.extended-bg{
    min-height: 10rem;
}